.grey {
    color: #ccc;
}

li.list-answer {
     list-style-type: none;
}

ul.list-answer {
    margin-left: 20px;
    padding-left: 20px;
}

.bordered {
    margin-left: 30px;
}

strong.h {
    font-size: 40px;
}
